<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.starvision.centersdk">
    <queries>
        <package android:name="com.smileapp.oil" />
        <package android:name="com.starvision.exchangerate" />
        <package android:name="com.smileapp.zodiac" />
        <package android:name="com.smileapp.goldprice" />
        <package android:name="com.starvision.lottothai" />
        <package android:name="com.smileapp.lottery" />
    </queries>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

<!--    <application android:usesCleartextTraffic="true"-->
<!--        tools:ignore="UnusedAttribute" />-->

    <application>
        <activity android:name="com.starvision.view.login.SvLoginActivity"
            android:usesCleartextTraffic="true"
            android:screenOrientation="portrait"
            android:label="Login_Page">
        </activity>

        <activity android:name="com.starvision.view.center.SvMainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.starvision.view.SvWebViewActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.starvision.view.SvWebViewLuckyActivity"
            android:screenOrientation="landscape">
        </activity>
    </application>
<!--    <queries>-->
<!--        <package android:name="com.smileapp.oil" />-->
<!--    </queries>-->

</manifest>